.aboutUsBG {
    @extend .bgImage;
}

.aboutUsBG-capa {
    @extend .bgImage;
    background-color:rgba(48, 47, 47, 0.3);
}

.contenedorFlex { 
    @include display-justify(flex, center);
    text-align: center;
    margin: 0 .8rem; }

.contenedorFlex__hijos { 
    margin: 1.3rem 2rem; }

.contenedorFlex__hijos__img { @include size(60px, 60px); }

.handpickedHotels { width: 80px;}

#whereWeAre {
    color: $secondary-color;
    font: $title-font;
    @extend .titleCenter;
}

.localizacionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    justify-items: center;
    align-items: center;
}

.localizacionGrid__text__h5 {
    font-size: 2rem;
    text-align: center;
}

.localizacionGrid__text__p {
    font-size: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}

#map { @include size(500px, 400px); }

.localizacionGrid__text__location { @include display-justify(flex, center); }

.localizacionGrid__text__location__img {
    @include size(32px, 40px);
    margin-top: .7rem;
    margin-right: .7rem;
}

.localizacionGrid__text__attention { @include display-justify(flex, center); }

.localizacionGrid__text__attention__img {
    @include size(40px, 40px);
    margin-top: .8rem;
    margin-right: .7rem;
}










