.egyptMain {
    width: 100%;
    height: 100vh; }

.egyptMain__bg {
    background-image: url(../pics/pyramids.jpg);
    @extend .bgImage;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    }
    
.egyptMain__article {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    z-index: 1; 
}

.egyptMain__h2 {
    font-size: 5em;
    font-weight: 600;
    color: $primary-color;
    text-align: start;
    margin-left: 2rem;
    margin-bottom: 0px;
    display: flex;
    justify-content: start;
}
    
.egyptMain__p {
    color: $primary-color;
    margin-top: 5px;
    margin-left: 2rem;
    text-align: start; 
}

.egyptMain__imgContainer {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    grid-gap: 5px;
}

.egyptMain__imgContainer__hijos {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.egyptMain__img {
    width: 250px;
    height: 260px;
    margin: 5px;
    position: relative;
}

.egyptMain__imgContainer__hijos__text {
    position: absolute;
    text-align: start;
    margin-top: .5rem;
    margin-left: 1rem;
    color: $primary-color;
    font-size: 1.3rem;
    font-weight: 600;
    width: 30%;
}
    
/* ARTICULO */
.egyptArticle {
    position: relative;
    width: 100%;
    height: 80vh;
}
    
.egyptArticle__look {
    font-size: 2rem;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Leckerli One', cursive;
    font-weight: lighter;
    padding-top: 1rem;
    }
    
.egyptArticle__tour {
    font-size: 2rem;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -.7rem;
    margin-bottom: .5rem;
}
    
.egyptArticle__sectionCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 230px;
    justify-items: center;
    text-align: center;
    margin: 0 1rem;
    grid-gap: 1rem;
}

.egyptArticle__sectionCards_card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    background-color: $primary-color;
    box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.10);
}

.egyptArticle__sectionCards_card__img {
    width: 300px;
    height: 200px;
    }
    
.egyptArticle__sectionCards_card__h5 {
    font-size: 1em;
    display: flex;
    justify-content: start;
    text-align: start;
    margin-left: 1.5rem;
    margin-top: .5rem;
    }
    
.egyptArticle__sectionCards_card__p {
    font-size: .8em;
    color: #686868;
    display: flex;
    justify-content: start;
    text-align: start;
    margin-left: 1.5rem;
    font-weight: 400;
    margin-right: 1rem;
    }
    
.egyptArticle__sectionCards_card__iconFlexEnd {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
    margin-left: 1rem;
    font-size: .9em;
    margin-bottom: .3em; }

.egyptArticle__sectionCards_card__iconFlexEnd__img {
    width: 20px;
    height: 20px;
    margin-right: .5rem; }

.egyptArticle__sectionCards_card__iconFlexEnd__h5 {
    font-weight: 400;
    color: #686868;}

.egyptArticle__sectionCards_card__iconFlexEnd2 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
    right: 1px;
    margin-right: 1rem;
    font-size: .9em;
    margin-bottom: .3em; }

.egyptArticle__sectionCards_card__stars {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    display: flex;
    margin-left: .5rem;
    margin-top: .3rem; }

.egyptArticle__sectionCards_card__stars__img {
    margin-right: .5rem;}

.egyptArticle__sectionCards_card__icons {
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    top: 44%;
    margin-left: 1rem; }

.egyptArticle__sectionCards_card__icons__img {
    margin-right: 1rem;}

.egyptArticle__sectionCards_card__button {
    width: 80px;
    height: 25.2px;
    position: absolute;
    top: 43.7%;
    background-color: $secondary-color;
    color: $primary-color;
    right: 0;
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center; }
    
/* BANNER */
.egyptBanner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; }

.egyptBanner__elements {
    position: absolute;
    color: $primary-color; }

.egyptBanner__elements__img {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 0;}

.egyptBanner__elements__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
    margin: 0 1rem;}
    
.egyptBanner__elements__text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    margin: 0 1rem;}
    
.egyptBanner__elements__btn__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 35px;
    background-color: $secondary-color;
    border-radius: 40px;
    text-align: center;
    font-size: .9rem;
    letter-spacing: 0;
    font-weight: 600;}
    
.egyptBanner__elements__btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;}


.egyptBanner__elements__img {
    filter: blur(1.5px);
}


