/* VALORES GENERALES */
* { margin: 0;
    padding: 0;}
  
html { font-family: 'Poppins', sans-serif; scroll-behavior: smooth;} 

/* VARIABLES */
$primary-color: #fff;
$secondary-color: #216869;
$secondary-color-hover: #378d8f;
$terciary-color: #406194;
$terciary-color-hover: #4572b9;
$title-font: bold 2.5em 'Montserrat', sans-serif;
$box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.20);
/*-----*/

/* EXTEND */
.titleCenter {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
/*-------*/ 

/* MIXINS */
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin color($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
}

@mixin display-justify($display, $justify) {
    display: $display;
    justify-content: $justify;
}
/*------*/

.toggle {display: none;}

video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    }
        
img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
    
h1 {    
    position: absolute;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-weight: normal;
    color: $primary-color;   
}

h2 {
    font: $title-font;
    color: $secondary-color;
    @extend .titleCenter;
    text-align: center;  
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    }

    
ul, li, a { 
    text-decoration: none;
    list-style: none;
    color: $primary-color;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center; }

.main__arrow { 
    position: absolute;
    top: 99%;
    transform: translateY(-99%); }
    
.main__arrow__img {
    width: 100px;
    height: 100px;
    animation-name: flechita;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-delay: 1.2s;
    }

.main__capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(48, 47, 47);
    opacity: 0.5;
    mix-blend-mode: overlay; }

a p { 
    font-size: 1rem;
    padding: 5px 2px;
    margin-top: -7px;
    background-color: $secondary-color;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: background-color .5s; }

a p:hover { background-color: $secondary-color-hover}

/* NEWSLETTER */
.newsletter {
    width: 100%;
    height: 130px;
    background-color: #F8F6F6;
    margin-top: 1.5rem; }

.newsletter__content {
    display: flex;
    justify-content: center;
    height: 130px;
    align-items: center;   }
    
.newsletter__msg {
    width: 50px;
    height: 50px;
    }

.newsletter__text { margin-left: 5px;}

.newsletter__input { 
    display: flex;
    margin-right: 5px }

.newsletter__input::placeholder {
    color: rgb(0, 0, 0);
}

.newsletter__button {
    width: 32px;
    height: 28px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative; }
    
.newsletter__arrow {
    font-size: 24px;
    color: white;
    height: 28px;
    position: absolute;
    z-index: 10;
    margin-top: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* FOOTER */

footer {
    font-family: 'Montserrat', sans-serif;
}
.footer_df {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.line {
    height: 30px;
    width: 1px;
    margin-right: 10px;
}

.footerArea__primerBloque {
    display: flex;
    margin: 15px 0px;
    text-align: start; 
}

.footerArea__segundoBloque {
    margin: 0 2.5rem;
}

.footerArea__tercerBloque {
    text-align: start;
}
#marginLeft {
    margin-left: -35px;
}

.alignSelfEnd {
    align-self: flex-end;
    margin-left: -40px;
    font-size: .7rem;
}

.alignSelfEnd-2 {
    align-self: flex-end;
    margin-left: -34px;
    font-size: .7rem;
}

.grey { 
    color: #989898;
    font-weight: 500;
    letter-spacing: .3px;
    margin-bottom: 16px;
    font-size: .7rem;
}


.socialNetwork__icons {
    color: black;
}

.socialNetwork {
    align-self: flex-end;
    margin-left: -58px;
    margin-top: 15px;
}

.marginBottom {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    
}

/* KEYFRAMES */
@keyframes flechita {
    0% { transform: translateY(0); }

    50% { transform: translateY(-35px); }

    100% { transform: translateY(0); }
}

.animate__animated.animate__rotateInUpRight {
    --animate-duration: 1.3s;  
}

