    .navbar { 
    display: flex;
    padding: 2.6rem;
    margin-right: 2em;
    margin-left: 2em;
    justify-content: space-between;
    font-size: 1.2rem; } 
    
    .navbar__ul { display: flex; }

    li { 
    margin: 0 10px;
    margin-right: 1.5em; }
        
    li:last-child {
    position: absolute;
    display: none;}
