.romeMain__bg {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100vh);
    object-fit: cover;
    object-position: center;
    background-size: cover;
    object-fit: cover; }

.romeMain__bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100vh);
    background-color:rgba(48, 47, 47, 0.2);
    }


.romeMain__article {
    position: relative;
    @include size(100%, 100vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    z-index: 1; 
}

.romeMain__h2 {
    font-size: 5em;
    font-weight: 600;
    color: $primary-color;
    text-align: start;
    margin-left: 2rem;
    margin-bottom: 0px;
    @include display-justify(flex, start);
}
    
.romeMain__p {
    color: $primary-color;
    margin-top: 5px;
    margin-left: 2rem;
    text-align: start; 
}

.romeMain__imgContainer {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    grid-gap: 5px;
}

.romeMain__imgContainer__hijos {
    position: relative;
    @include display-justify(flex, start);
    align-items: flex-start;
}

.romeMain__img {
    @include size(250px, 260px);
    margin: 5px;
    position: relative;
}

.romeMain__imgContainer__hijos__text {
    position: absolute;
    text-align: start;
    margin-top: .5rem;
    margin-left: 1rem;
    color: $primary-color;
    font-size: 1.3rem;
    font-weight: 600;
    width: 30%;
}
    
/* ARTICULO */
.romeArticle {
    position: relative;
    @include size(100%, 80vh);
}
    
.romeArticle__look {
    font-size: 2rem;
    color: $secondary-color;
    @include display-justify(flex, center);
    text-align: center;
    font-family: 'Leckerli One', cursive;
    font-weight: lighter;
    padding-top: 1rem;
}
    
.romeArticle__tour {
    font-size: 2rem;
    color: $secondary-color;
    @include display-justify(flex, center);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -.7rem;
    margin-bottom: .5rem;
}
    
.romeArticle__sectionCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 230px;
    justify-items: center;
    text-align: center;
    margin: 1.5rem 1rem;
    grid-gap: 1rem;
    row-gap: 1.3rem;
}

.romeArticle__sectionCards_card {
    position: relative;
    @include size(300px, 400px);
    border-radius: 8px;
    background-color: $primary-color;
    box-shadow: $box-shadow;
}

.romeArticle__sectionCards_card__img { @include size(300px, 200px); }
    
.romeArticle__sectionCards_card__h5 {
    font-size: 1em;
    @include display-justify(flex, start);
    text-align: start;
    margin-left: 1.5rem;
    margin-top: .5rem;
}
    
.romeArticle__sectionCards_card__p {
    font-size: .8em;
    color: #797777;
    @include display-justify(flex, start);
    text-align: start;
    margin-left: 1.5rem;
    font-weight: 400;
    margin-right: 1rem;
    }
    
.romeArticle__sectionCards_card__iconFlexEnd {
    @include display-justify(flex, start);
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
    margin-left: 1rem;
    font-size: .9em;
    margin-bottom: .3em; }

.romeArticle__sectionCards_card__iconFlexEnd__img {
    @include size(20px, 20px);
    margin-right: .5rem; }

.romeArticle__sectionCards_card__iconFlexEnd__h5 {
    font-weight: 400;
    color: #686868;}

.romeArticle__sectionCards_card__iconFlexEnd2 {
    @include display-justify(flex, end);
    position: absolute;
    bottom: 5px;
    right: 1px;
    margin-right: 1rem;
    font-size: .9em;
    margin-bottom: .3em; }

.romeArticle__sectionCards_card__stars {
    @include size(16px, 16px);
    position: absolute;
    top: 1px;
    display: flex;
    margin-left: .5rem;
    margin-top: .3rem; }

.romeArticle__sectionCards_card__stars__img {
    margin-right: .5rem;}

.romeArticle__sectionCards_card__icons {
    @include size(20px, 20px);
    position: absolute;
    display: flex;
    top: 44%;
    margin-left: 1rem; }

.romeArticle__sectionCards_card__icons__img {
    margin-right: 1rem;}

.romeArticle__sectionCards_card__button {
    @include size(80px, 25.2px);
    position: absolute;
    top: 43.7%;
    @include color($primary-color, $secondary-color);
    right: 0;
    text-align: center;
    font-size: 1em;
    @include display-justify(flex, center);
    align-items: center; }
    
/* BANNER */
.romeBanner {
    @include size(100%, 400px);
    @include display-justify(flex, center);
    align-items: center; }

.romeBanner__elements {
    position: absolute;
    color: $primary-color; }

.romeBanner__elements__img {
    @include size(100%, 400px);
    position: absolute;
    z-index: 0;}

.romeBanner__elements__discount {
    @include display-justify(flex, center);
    align-items: center;
    font-size: 3em;
    text-align: center;
    margin: 0 1rem;}
    
.romeBanner__elements__text {
    @include display-justify(flex, center);
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    margin: 0 1rem;}
    
.romeBanner__elements__btn__text {
    @include display-justify(flex, center);
    align-items: center;
    @include size(210px, 35px);
    background-color: $secondary-color;
    border-radius: 40px;
    text-align: center;
    font-size: .9rem;
    letter-spacing: 0;
    font-weight: 600;}
    
.romeBanner__elements__btn {
    @include display-justify(flex, center);
    margin-top: 1rem;}


.romeBanner__elements__img {
    filter: blur(1.5px);
}

